:root {
  --cyan-color: #00b2b2;
  --bright-yellow: hsl(71, 73%, 54%);
  --light-gray: hsl(204, 43%, 93%);
  --grayish-blue: hsl(218, 22%, 67%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: var(--grayish-blue);
  font-family: "Karla", sans-serif;
}

a {
  text-decoration: none;
}
/* Custom Styles */
.container {
  max-width: 375px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Showcase Section */
.showcase {
  background: #fff;
  padding: 2rem;
  margin-top: 4rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.showcase-content {
  line-height: 1;
}

.showcase-content h3 {
  font-size: 2.3rem;
  color: var(--cyan-color);
  margin-bottom: 2rem;
  font-weight: bold;
}

.showcase-content h4 {
  font-size: 1.8rem;
  color: var(--bright-yellow);
  margin-bottom: 2rem;
}

.showcase-content p {
  font-size: 1.6rem;
  color: #c3c3c3;
  padding-right: 1rem;
  line-height: 1.5;
}

/* Subscription */
.subscription {
  display: flex;
  flex-direction: column;
}

.subscription-left {
  background: var(--cyan-color);
  padding: 2rem;
  box-shadow: rgba(0, 0, 0, 0.1) 2px 2px 12px;
}

.subscription-left h3 {
  font-size: 2.3rem;
  color: #fff;
  margin-bottom: 1rem;
  font-weight: 100;
}

.subscription-left .price span {
  font-size: 2.8rem;
  font-weight: bold;
  opacity: 1;
  color: #fff;
  margin-right: 1rem;
}

.subscription-left .price {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.subscription-left .description {
  font-size: 1.6rem;
  color: var(--light-gray);
  margin-bottom: 2rem;
}

.btn-primary {
  font-size: 1.6rem;
  background: var(--bright-yellow);
  display: inline-block;
  width: 100%;
  padding: 2rem 4rem;
  text-align: center;
  color: #fff;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 2px 2px 12px;
  margin: 1rem 0;
}

.subscription-right {
  background: #00cccc;
  padding: 2rem;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.1) 2px 2px 12px;
}

.subscription-right h3 {
  font-size: 2rem;
  font-weight: 400;
  color: #fff;
  margin-bottom: 2rem;
}

.subscription-right p {
  color: var(--light-gray);
  font-size: 1.6rem;
  width: 65%;
  font-weight: 100;
  line-height: 1.5;
  margin-bottom: 1.5rem;
}

/* .attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); } */
